.idea/
msvc9/Debug/
msvc9/_UpgradeReport_Files/
msvc9/ipch/
msvc9/UpgradeLog.htm
msvc9/UpgradeLog.XML
msvc9/UpgradeLog2.XML
msvc9/war3source.ncb
msvc9/war3source.opensdf
msvc9/war3source.sdf
